/* _content/TaskManager_Client/Components/Layout/Footer.razor.rz.scp.css */
.bg-orange[b-pef7p69252] {
    background-color: #C77B30 !important;
}
/* _content/TaskManager_Client/Components/Layout/MainLayout.razor.rz.scp.css */
/* _content/TaskManager_Client/Components/Layout/NavMenu.razor.rz.scp.css */
.bg-orange[b-asrzi1ulci] {
    background-color: #C77B30 !important;
}


/* _content/TaskManager_Client/Components/Pages/AddEditTask.razor.rz.scp.css */
/* _content/TaskManager_Client/Components/Pages/Home.razor.rz.scp.css */
.h1[b-1fqommh8ol]{
    text-align: center;
    color: #C77B30;
    margin-top: 11%;
}

.h11[b-1fqommh8ol]{
    text-align: center;
    color: #C77B30;
    margin-top: 9%;
}

.h2[b-1fqommh8ol]
{
    text-align: center;
    color: #C77B30;
    margin-top: 2%;
}

.h[b-1fqommh8ol]{
    text-align: center;
    color: #C77B30;
    margin-top: 2%;
}
/* _content/TaskManager_Client/Components/Pages/Login.razor.rz.scp.css */
.h1[b-hesnia464s]{
    text-align: center;
    color: #C77B30;
    margin-top: 8%;
}
/* _content/TaskManager_Client/Components/Pages/Register.razor.rz.scp.css */
.h1[b-nv4m04brfa]{
    text-align: center;
    color: #C77B30;
    margin-top: 8%;
}
/* _content/TaskManager_Client/Components/Pages/Tasks.razor.rz.scp.css */
/* _content/TaskManager_Client/Components/Pages/Users.razor.rz.scp.css */
.div[b-xx7ss0ldfc]{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
